/* Teal color (used for headings and backgrounds): #4aaaa5*/
/* For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;. */
h1, h2, h3, h4, h5, h6 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/* Teal color (used for headings and backgrounds): #4aaaa5*/
/* For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;. */
/* Regular font color (used for paragraphs and all text besides the headings): #777777 */
.mainArea {
    background-image: url(../images/prism.png);
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    display: block;
    width: 75%;
    margin: 0 auto;
}

header {
  position:relative;
  height: 15%;
}
footer {
  position: relative;
  height: 10%;
}
body {
  margin:0px;
}
p {
    background-color: #777777;
}

#name {
  background: #4aaaa5;
  color: white;
  float: left;
  width: 200px;
  padding: 30px;
  font-size: 32px;
  font-weight: bold;
}

#profilePic {
  float: left;
  height: 200px;
}

.menulinks {
  color: #777777;
  font-size: 24px;
  text-decoration: none;
  float: right;
  margin:16px;
}
.vertLine {
  border-right: 1px solid #777777;  
  height: 26px;
  float: right;
  opacity: 0.2;
}
.clearFloats{
  clear: both;
}
/* Main header background color: #ffffff */
/* Main header border color: #cccccc */
h1 {
    background-color: #ffffff;
    border-color: #cccccc;
}

/* Footer background color: #666666 */
footer {
    background-color: #666666;
    flex-shrink: 0;
}

/* Main content background color: #ffffff */
/* Main content border color: #dddddd */
/* The entire content and the main section content area is 960px wide. */
#mainContent {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
}

/*Adobe Kuler Teal Complements - 1f5d5a, 84f6f1, 4aaaa5, 5d2e16, aa6b4a */
a:link { 
    color: #777777; 
}
a:visited { 
    color: #5d2e16; 
}
a:hover { 
    color: #aa6b4a; 
}
a:active { 
    color: #84f6f1; 
}

#submitButton:hover
{
    background-color: #666666;
}


/*
<body>
  <div class="content">
    content
  </div>
  <footer class="footer"></footer>
</body>

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
*/

/*
Bonus

Make a "sticky footer." You will notice the dark grey footer will always rest just below the content. This is fine whenever your site has enough content to push it down past 
the height of most monitors. But if there isn't much content in the body, the footer could rest in the middle of the page:


Try to code the footer in a way that it will always remain at the bottom of the page, no matter how short the content is. A sticky footer tutorial can be found here.
Give the Footer the following CSS:
border-top: 8px solid #4aaaa5;





Helpful Hints


For help with Git and GitHub, be sure to consult the GitHub Supplemental Guide sent to you in class.
Don't forget to look into these concepts: float, padding, margin, display, overflow, clear and text-align.
This will be a tough assignment, but towards the end of the course, you'll look back to this exercise and realize just how much you've grown as a developer. Stay positive! 
You've got this!



Reminder: Submission on BCS


Please submit the link to the Github Repository!





Minimum Requirements

Attempt to complete homework assignment as described in instructions. If unable to complete certain portions, please pseudocode these portions to describe what remains to 
be completed.




One More Thing

If you have any questions about this project or the material we have covered, please post them in the community channels in slack so that your fellow developers can help you!
 If you're still having trouble, you can come to office hours for assistance from your instructor and TAs.

Good Luck!
*/